<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.migueljteixeira.clipmobile" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.migueljteixeira.clipmobile.ClipMobileApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ClipMobile" >

        <!-- Content provider -->
        <provider
            android:name="com.migueljteixeira.clipmobile.provider.ClipMobileProvider"
            android:authorities="@string/provider_authority"
            android:exported="false" >
        </provider>

        <activity
            android:name=".ui.ConnectClipActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.StudentNumbersActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.NavDrawerActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="${crashlyticsApiKey}"/>

    </application>

</manifest>
